/* You can add global styles to this file, and also import other style files */

.fill-remaining-space {
  flex: 0.98 0.98 auto;
}

.main-logo {
	height: 80%;
}

.toolbar-menu {
	color:white!important;
}

.menu-spacing {
	padding-left:1%;
	padding-right:1%;
}

.full-width {
	width:100%;
}

body {
	font-family: 'Roboto';
	margin:0;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

html {
  min-height:100vh;
  background-color:#eee;
}